// libs
@import "libs/fonts";
@import "libs/bootstrap-reboot";
* {
	font-family: "Museo Sans Cycl", sans-serif;
}
.container {
  max-width: 950px;
  margin: 0 auto;
}
// icons
@import "libs/icomoon";
// elements
@import "blocks/buttons";
@import "blocks/header";
// sections
@import "blocks/promo";
