// libs
@import "libs/fonts";
@import "libs/bootstrap-reboot";
// base
@import "base/variables";
* {
	font-family: "Museo Sans Cycl", sans-serif;
}
html,
body {
	color: #0d0d0d;
}
a {
	color: $main-color;
}
.container {
  max-width: 950px;
  margin: 0 auto;
}

// icons
@import "libs/icomoon";

// elements
@import "blocks/buttons";
@import "blocks/header";
@import "blocks/title";
// sections
@import "blocks/promo";
@import "blocks/advantages";
@import "blocks/consultation";
