@media (max-width: 767px) {
  .title {
    font-size: 28px;
    &_left {
      text-align: center;
      text-align-last: center;
      br {
        display: none;
      }
    }
  }
  .header {
    padding-left: 10px;
    padding-right: 10px;
    &__official {
      display: none;
    }
  }
  .promo {
    &__header {
      font-size: 36px;
    }
    &__subheader {
      font-size: 22px;
    }
  }
  .advantages {
    padding-top: 60px;
    padding-bottom: 60px;
    &__cards {
      justify-content: space-around;
      flex-wrap: wrap;
    }
    &__card {
      min-width: 240px;
    }
  }
}
